body {
    display: flex;
    background: #aa4b6b;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3b8d99, #6b6b83, #aa4b6b);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3b8d99, #6b6b83, #aa4b6b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

table {
    margin: auto;
}

thead th {
    font-size: 30px;
    color: #f3eeee;
}

.dot {
    width: 30px;
    height: 30px;
    margin: 3px 3px 0 0;
    background-color: rgba(243, 238, 238, 0.5);
    border-radius: 50%;
    transition: background-color 150ms linear;
}

.dot.on {
    background-color: #e86213;
}

.sep {
    width: 10px;
}